<!DOCTYPE HTML>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta charset="utf-8">
        <title>登录</title>
        <style>
            .row{display: block;width: 100%;margin:16px 32px 16px 32px}
            .row label{display: inline-block;width: inherit;text-align: left;margin-bottom: 8px}
            .row input{display: inline-block;width: inherit;margin-bottom: 8px;height: 25px;}
            body{width:100%;height:100%;}
            input,.box-border{border-radius: 5px;border: 1px solid;color: grey;padding-left: 5px;padding-right: 5px}
            .vehicle_center{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .horizental_center{
                display: flex;
                flex-direction: row;
                justify-content:center;
            }
            .wrap_content{

            }
            .match_parent{
                width:inherit;
                height:inherit;
            }
        </style>
    </head>
    <body>
        <div class="horizental_center">
            <div class="box-border vehicle_center match_parent">
                <div class="row">
                    <label for="name">用户名：</label>
                    <input type="text" class="text_input" name="name"/>
                </div>
                <div class="row">
                    <label for="password">密码：</label>
                    <input type="password" class="text_input" name="password"/>
                </div>
                <div class="row">
                    <label for="email">邮箱：</label>
                    <input type="text" class="text_input" name="email"/>
                </div>
            </div>
        </div>

    </body>
</html>